html {
  font-size: 62.5%;
  text-align: center;
}

body {
  background: #EFEFEF;
  color: #454D53;
  height: 100%;
  line-height: 1.38;
  min-width: 1000px;
  width: 100%;
  margin: 0 auto;
  border: 0;
  outline: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
